anyio==3.3.4
asgiref==3.4.1
cffi==1.15.0
click==8.0.3
cryptography==36.0.1
fastapi==0.70.0
fastapi-jwt-auth==0.5.0
h11==0.12.0
h2==4.1.0
hpack==4.0.0
httptools==0.2.0
hypercorn==0.12.0
hyperframe==6.0.1
idna==3.3
priority==2.0.0
protobuf==3.19.1
pycparser==2.20
pydantic==1.8.2
PyJWT==2.4.0
pymongo==3.12.1
PyMySQL==1.0.2
python-decouple==3.5
python-dotenv==0.19.1
PyYAML==6.0
sniffio==1.2.0

SQLAlchemy==1.4.27
sqlalchemy-repr==0.0.2
starlette==0.16.0
toml==0.10.2
typing-extensions==3.10.0.2
uvicorn==0.15.0
#uvloop==0.15.3
watchgod==0.7
websockets==10.0
wsproto==1.0.0

fastapi-route-logger-middleware==0.2.3

pymodm~=0.4.3
redis~=4.1.1

pycryptodome==3.14.1

humanize==4.0.0

Faker==13.3.2
